body{
    background-color : #000000;
    color:#869ec3;
}

button{
    margin: 19px 20px;
    border:2px solid #869ec3;
    border-radius:1em;
    font-size:20px;
    color:#e1f2fe;
    padding: 5px 10px;
    background-color: #869ec3;
    font-family: 'Courier New';
    font-weight: bold;
}

.posting {
    border-radius: 1em;
    color: #869ec3;
    margin: 100px 250px 0px 250px;
    border: 5px solid #869ec3;
    padding: 20px 20px;
    display:grid;
    text-align: center;
    font-weight: bold;
}

.posting h3{
    border-radius : .5em;
    margin : 30px 5px 15px 5px;
    font-size : 150%;
    display: inline-block;
    font-family: 'Courier New';
    font-weight: bold;
}

input{
    margin: 5px;
    height: 20px;
    width: 600px;
    
}

button:hover{
    background-color : #ffffff;
    color:#003d66;
}

.sub-button{
   display:block;
   text-align: center;
}

.shadow{
    box-shadow: 0 6px 6px -6px #869ec3;
    border-color:  #869ec3;
}
