h4{
    font-family: 'Courier New';
    text-decoration: underline;
    color: #1f4b8eff;
    font-size: 30px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 200px;
    padding-top: 250px;
}

.home-div{
    font-family: 'Courier New';
    background-color: white;
    border: 2px solid#adbccd;
    border-radius: 20px;
    box-shadow: 5px 10px #eadbd4ff;
    width: 250px;
    height: 230px;
    font-size: 21px;
    color:#1f4b8e;
    text-align: center;
}
